*{
  padding:0;
  margin:0;
  }
  font-family: 'Bebas Neue', cursive;font-family: 'Island Moments', cursive;font-family: 'Licorice', cursive;font-family: 'Oswald', sans-serif;font-family: 'Roboto Mono', monospace;
